<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
</head>

<body>
    <div class="wrapper">
        <div class="main"></div>
            <h2>London</h2>
            <!-- {% for categorie,char in personal.items() %}
            {% if categorie == "name" %}
            <h1>
                {{char}}
            </h1>
            {% endif %}
            {% if categorie == "links" %}
            {% for page,value in char.items() %}
            {% for each,one in value.items() %}
            {%if each == 'link'%}
            <button type="button"> 
                <a href="{{one}}"> {{page}} </a>
            </button>
            {%endif%}
            {%endfor%}
            {%endfor%}
            {% endif %}
            {% endfor %} -->
        </div>
    </div>
    
</body>
</html>
